@import "tailwindcss";

html,
body,
#app {
  height: 100dvh;
  overflow: hidden;
  background-color: #030712;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow-y-auto::-webkit-scrollbar {
  display: none;
}
.overflow-y-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

* {
  -webkit-tap-highlight-color: transparent;
}
